@import 'vars';
@import 'mixins';
//                            arrivals


.new_arrivals {
    display: flex;
    justify-content: space-between;
    background-color: #F8F3F4;

    &.center {
        padding-left: calc(50% - 558px);
        padding-right: calc(50% - 558px);
    }

    &__title {
        color: $mainElementsColor;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__bread_crumbs {
        display: flex;
        gap: 5px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 65px;
        padding-bottom: 65px;
    }

    &__link {
        color: #636363;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;

        &::after {
            content: '/';
            padding-left: 6px;
        }

        &:last-child {
            color: $mainElementsColor;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
        }

        &:last-child::after {
            content: none;
        }
    }
}

//                        main_content



.catalog_main_content {
    position: relative;

    &__description_part {
        position: absolute;
        opacity: 1;
        top: 690px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: 1126px;
        padding-top: 64.5px;
        padding-bottom: 64.5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        border: 1px solid #EAEAEA;

        & a {
            color: #F16D7F;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        & h3 {
            color: #4D4D4D;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__shortline {
            margin-top: 12px;
            margin-bottom: 12px;
        }

        &__subtitle {
            margin-top: 28.5px;
            margin-bottom: 32px;
            color: #5E5E5E;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            max-width: 566px;
        }

        & h1 {
            color: $mainElementsColor;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        & hr {
            margin-top: 65px;
            width: 641px;
            border: 0;
            height: 1px;
            background-color: #EAEAEA;
        }
    }
}


.catalog_offer {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    border: 1px solid #EAEAEA;

    &.center {
        padding-left: calc(50% - 558px);
        padding-right: calc(50% - 558px);
    }
}


.for_absoluting {
    position: relative;
}

.offer_details {
    display: flex;
    gap: 16px;

    &__choose {
        text-align: left;
        padding-top: 13px;
        padding-bottom: 64px;
        position: relative;
        z-index: 7;
        cursor: pointer;
    }

    &__choose_box {
        position: absolute;
        top: 35px;
        left: -9px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding-left: 9px;
        padding-bottom: 2px;
        padding-top: 9px;
        padding-right: 14px;
    }

    &__lists {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__head {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__choose>summary {
        list-style: none;
    }

    &__lists+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        margin-bottom: 9px;
    }

    &__lists+label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    &__lists:checked+label::before {
        border-color: $mainElementsColor;
        background-color: $mainElementsColor;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &__lists:checked+label {
        color: $mainElementsColor;
    }

}


// add_to_card boutton

.button {
    &__bask {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: none;
        border: 1px solid $mainElementsColor;
        width: 212px;
        height: 49px;

        &:hover {
            background-color: $mainElementsColor;

            & .button__bask__title {
                color: #FFF;
            }

            & .button__bask__basket path {
                fill: #FFF;
            }
        }

        &:active {
            background-color: #fff;
            border: 1px solid $mainElementsColor;

            & .button__bask__title {
                color: $mainElementsColor;
                ;
            }

            & .button__bask__basket path {
                fill: $mainElementsColor;
            }
        }


        &__title {
            padding-right: 54px;
            color: $mainElementsColor;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

        }

        &__basket {
            margin-left: 24px;

        }
    }
}


/* content_items */

.content_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    &.for_catalog {
        padding-top: 664px;
        padding-bottom: 128px;
    }
}