@import 'vars';
@import 'mixins';




/* top */

.top {
    display: flex;
    background-color: #F1E4E6;
    padding-left: calc(50% - 710px);
    padding-right: calc(50% - 710px);



    &__brand_info {
        display: flex;
        align-self: center;
        justify-content: flex-start;
        align-items: center;
    }

    &__brand_image {
        display: flex;
        max-width: 50%;
    }
}

.top_text {
    margin-left: 16px;
    align-items: center;

    &__top_title {
        text-align: left;
        color: #222;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        font-weight: bold;
    }

    &__top_subtitle {
        color: #222;
        text-align: left;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-weight: bold;
    }

    &__special_word {
        color: $mainElementsColor;
    }
}





/* main_content content_photo */

.content_photo {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 96px;

    &__photo1 {
        height: 260px;
        background-image: url(../img/bgi1.png);
        @include content_photos_position;
    }

    &__photo2 {
        height: 260px;
        background-image: url(../img/bgi2.png);
        @include content_photos_position;
    }

    &__photo3 {
        height: 260px;
        background-image: url(../img/bgi3.png);
        @include content_photos_position;
    }

    &__photo4 {
        height: 180px;
        background-image: url(../img/bgi4.png);
        @include content_photos_position;
    }

    &__title {
        color: $mainElementsColor;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__subtitle {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.long_picture {
    grid-column: span 3;
}



/* main_content title*/

.titled_block {
    text-align: center;
    margin-bottom: 49px;

    &__title {
        color: #222;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 6px;
        font-weight: bold;
    }

    &__subtitle {
        color: #9F9F9F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


/* content_items */

.content_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}


.content_bgc {
    background-color: #F8F8F8;
}


.item_text {
    padding-left: 18px;
    padding-top: 24px;
    padding-bottom: 20px;
    padding-right: 29px;

    &__title {
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-weight: bold;
    }

    &__subtitle {
        margin-top: 12px;
        margin-bottom: 18px;
        color: #5D5D5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__price {
        color: $mainElementsColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-weight: bold;
    }
}

.pseudo {
    position: relative;
}

.button_place {
    position: absolute;
    opacity: 0;

    &__basket {
        display: flex;
        align-items: center;
        border-color: #FFFFFF;
        background: none;

        &:hover {
            cursor: pointer;
        }

        & img {
            padding-top: 11.2px;
            padding-bottom: 8.7px;
            padding-left: 13.5px;
        }
    }

    &__title {
        margin-left: 11.1px;
        padding-right: 16.3px;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

// .button_place:hover~.item_image img {
//     filter: brightness(0.3);
// }

.item_image:hover {
    filter: brightness(0.3);
}

.pseudo:hover .button_place {
    opacity: 1;
    top: 44%;
    left: 32%;

}



.explore {
    display: flex;
    justify-content: center;

    &__button {
        margin-top: 48px;
        margin-bottom: 60px;
        height: 48px;
        width: 212px;
        background: #FFF;
        border-color: #FF6A6A;
        color: #F26376;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-style: solid;

        &:hover {
            background-color: $mainElementsColor;
            color: #FFF;
        }

        &:active {
            background-color: #fff;
            color: $mainElementsColor;
            border: 1px solid $mainElementsColor;
        }
    }

}



/* company_advantages */

.advantages {
    background-color: #222224;

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 104px;
        padding-bottom: 103px;
    }

    &__title {
        color: #FBFBFB;
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
        font-weight: bold;
    }

    &__subtitle {
        color: #FBFBFB;
        font-size: 13.972px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        max-width: 310px;
    }

    &__icon1 {
        margin-bottom: 28px;
    }

    &__icon2 {
        margin-bottom: 19px;
    }

    &__icon3 {
        margin-bottom: 25px;
    }
}

.middling {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}



/* subscription */

.subscription {
    background: url(/img/photo_subscribe.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 448px;
    display: flex;
    justify-content: space-between;

    &__invitation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;

        &__text {
            max-width: 360px;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__italic_text {
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }

    }

    &__approval {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-right: 95px;

        &__title_subs {
            color: #222224;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 167.2%;
            padding-top: 40px;
        }

        &__subtitle_subs {
            color: #222224;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 167.2%;
        }

        &__email {
            margin-top: 39px;
            float: left;
            background: #E1E1E1;
            border-radius: 20px 0 0 20px;
            width: 256px;
            height: 49px;
            border: none;
            padding-left: 22px;
            @include fields_hover_and_focus;
        }

        &__button {
            margin-top: 39px;
            float: left;
            width: 100px;
            height: 49px;
            border-radius: 0 20px 20px 0;
            background-color: $mainElementsColor;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
            @include reverse_buttons_hover_and_active;
        }
    }
}