



/* top */

.top {
    display: flex;
    background-color: #F1E4E6;
    padding-left: calc(50% - 710px);
    padding-right: calc(50% - 710px);



    &__brand_info {
        display: flex;
        align-self: center;
        justify-content: flex-start;
        align-items: center;
    }

    &__brand_image {
        display: flex;
        max-width: 50%;
    }
}

.top_text {
    margin-left: 16px;
    align-items: center;
    &__top_title {
        text-align: left;
        color: #222;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        font-weight: bold;
    }

    &__top_subtitle {
        color: #222;
        text-align: left;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-weight: bold;
    }

    &__special_word {
        color: $mainElementsColor;
    }
}





/* main_content content_photo */

.content_photo {
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 96px;

    &__photo1 {
        height: 260px;
        background-image: url(../img/bgi1.png);
        @include content_photos_position;
    }

    &__photo2 {
        height: 260px;
        background-image: url(../img/bgi2.png);
        @include content_photos_position;
    }

    &__photo3 {
        height: 260px;
        background-image: url(../img/bgi3.png);
        @include content_photos_position;
    }

    &__photo4 {
        height: 180px;
        background-image: url(../img/bgi4.png);
        @include content_photos_position;
    }

    &__title {
        color: $mainElementsColor;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__subtitle {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.long_picture{
    grid-column: span 3;
}



/* main_content title*/

.titled_block {
    text-align: center;
    margin-bottom: 49px;

    &__title {
        color: #222;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 6px;
        font-weight: bold;
    }

    &__subtitle {
        color: #9F9F9F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


/* content_items */

.content_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.content_bgc {
    background-color: #F8F8F8;
}


.item_text {
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;

    &__title {
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-weight: bold;
    }

    &__subtitle {
        margin-top: 16px;
        margin-bottom: 16px;
        color: #5D5D5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    &__price {
        color: $mainElementsColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-weight: bold;
    }
}

.pseudo {
    position: relative;
}

.button_place {
    position: absolute;
    opacity:0; 

    &__basket {
        display: flex;
        align-items: center;
        border-color: #FFFFFF;
        background: none;
    }

    &__basket img {
        padding-top: 11.2px;
        padding-bottom: 8.7px;
        padding-left: 13.5px;
    }

    &__title {
        margin-left: 11.1px;
        padding-right: 16.3px;
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;     
    }
}

.button_place:hover .item_image {
    filter: brightness(0.5); 
}

.item_image:hover {
    filter: brightness(0.5); 
}

.pseudo:hover .button_place {
    opacity:1; 
    top: 44%;
    left: 32%;
}


.explore {
    display: flex;
    justify-content: center;

    &__button {
        margin-top: 48px;
        margin-bottom: 60px;
        height: 48px;
        width: 212px;
        background: #FFF;
        border-color: #FF6A6A;
        color: #F26376;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-style: solid;
    }

    &__button:hover {
        background-color: $mainElementsColor;
        color: #FFF;
    }
}



/* company_advantages */

.advantages {
    background-color: #222224;

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 104px;
        padding-bottom: 103px;
    }

    &__title {
        color: #FBFBFB;
        font-size: 19.96px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
        font-weight: bold;
    }

    &__subtitle {
        color: #FBFBFB;
        font-size: 13.972px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        max-width: 310px;
    }

    &__icon1 {
        margin-bottom: 28px;
    }
    
    &__icon2 {
        margin-bottom: 19px;
    }
    &__icon3 {
        margin-bottom: 25px;
    }
}

.middling {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}



/* subscription */

.subscription {
    background: url(../img/photo_subscribe.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 448px;
    display: flex;
    justify-content: space-between;

    &__invitation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;

        &__text {
            max-width: 360px;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__italic_text {
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
        }

    }

    &__approval {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-right: 95px;

        &__title_subs {
            color: #222224;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 167.2%; 
            padding-top: 40px;
        }

        &__subtitle_subs {
            color: #222224;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 167.2%;
        }

        &__email {
            margin-top: 39px;
            float: left;
            background: #E1E1E1;
            border-radius: 20px 0 0 20px;
            width: 256px;
            height: 49px;
            border: none;
            padding-left: 22px;
        }

        &__button {
            margin-top: 39px;
            float: left;
            width: 100px;
            height: 49px;
            border-radius: 0 20px 20px 0;
            background-color: $mainElementsColor;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border: none;
        }
    }
}




                                            /* TABLET */



                                            
@media (min-width: 726px) and (max-width: 1024px) {
    
    .center {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);
    }

    .header {
        padding-left: calc(50% - 351.5px);
        padding-right: calc(50% - 342.5px);

        &__right_nav {
            margin-top: 27px;
            margin-bottom: 18px;
        }
    }

    .top {
        padding-left: calc(50% - 367px);
        padding-right: calc(50% - 367px);  
        max-height: 384px;

        &__brand_info {
            float: right;
            width: 50%;
            display: flex;
            align-self: center;
            padding-top: 138px;
            padding-left: 67px;
            padding-bottom: 151.5px;   
        }
    }
    

    .top_text {
        &__top_title {
            font-size: 44px;
        }

        &__top_subtitle {
            font-size: 24px;
        }
    }


    .content_photo {
        margin-top: 65px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-bottom: 110px;
    }

    .titled_block {
        margin-bottom: 73.7px;
        display: flex;
        flex-direction: column;

        &__title {
            margin-bottom: 3.3px;
        }
    
    }

  
    .content_items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }


    .item_text {
        padding-left: 16.5px;
        padding-top: 25px;
        padding-bottom: 29px;
        padding-right: 16px;

        &__subtitle {
            margin-top: 12px;
            margin-bottom: 18px;
        }
    }


    .explore__button {
        margin-top: 32.5px;
        margin-bottom: 70.5px;
    }


    .advantages {
        &.center {
            padding-left: calc(50% - 180px);
            padding-right: calc(50% - 180px);
        } 

        &__item {
            padding-top: 0;
            padding-bottom: 0;
        }

        &__subtitle {
            font-size: 13.972px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            max-width: 310px;
        }
    
    }


    .middling {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 48.5px;
        padding-top: 48.1px;
        padding-bottom: 64px;
    }


    .subscription {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 693px;
        background-position: 25%;
        background-size: 286% 130%;

        &.center {
            padding-left: calc(50% - 228.5px);
            padding-right: calc(50% - 228.5px);
        }

        &__invitation {
            padding-bottom: 0px;
            margin-bottom: 48px;
        }

        &__approval {
            padding-right: 0;
            padding-bottom: 140px;
        }
    }
    
  
    .footer {
        padding-left: calc(50% - 352px);
        padding-right: calc(50% - 352px);
    }

    .socials {
        padding-top: 23px;
        padding-bottom: 24px;
    }

}



                                           /* PHONE */



@media (min-width: 320px) and (max-width: 767px) {

    .header {
        padding-left: calc(50% - 148px);
        padding-right: calc(50% - 148px);
        &__left_nav {
            margin-top: 18px;
            margin-bottom: 18px;
        }
        &__right_nav {
            margin-top: 25px;
            margin-bottom: 26px;
        }
    }

    .basket_shower__icon, .header__right_nav__person_icon {
        display: none;
    }


    .top {
        padding-left: calc(50% - 148px);
        padding-right: calc(50% - 148px);
        margin: auto;
        min-height: 363px;

        &__brand_image {
            display: none;
        }

        &__brand_info {
            padding-left: 0;
            padding-top: 0;
            padding-bottom: 0;
            float: none;
            width: 100%;
            justify-content: center;
        }
    }

    .top_text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;

        &__title {
            font-size: 38px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            font-weight: bold;
        }

        &__subtitle {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

    }


    .content_photo {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 64px;

        &.center {
            padding-left: calc(50% - 140px);
            padding-right: calc(50% - 140px);
        }

        &__photo1 {
            height: 247px;
        }

        &__photo2 {
            height: 249px;
        }

        &__photo3 {
            height: 248px;
        }

        &__photo4 {
            height: 111px;
        }
        
    }

    .titled_block {
        margin-bottom: 64px;
    }

    .content_items {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &.center {
            padding-left: calc(50% - 148px);
            padding-right: calc(50% - 148px);
        }
    }

    .item_text {
        padding-left: 16px;
        padding-top: 24px;
        padding-bottom: 20px;
        padding-right: 28px;    
    }

    .explore__button {
        margin-top: 40.6px;
        margin-bottom: 96px;
    }

    .basket_shower__counter {
        display: none;
    }


    .advantages {
        &.center {
            padding-left: calc(50% - 152px);
            padding-right: calc(50% - 152px);
        } 

       &__item {
            padding-top: 0;
            padding-bottom: 0;
        }

        &__title {
            margin-bottom: 14.6px;
        }

        &__subtitle {
            color: #FBFBFB;
            text-align: center;
            font-size: 13.972px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            max-width: 310px;
        }

        &__icon1 {
            margin-bottom: 27px;
        }

        &__icon2 {
            margin-bottom: 18px;
        }

        &__icon3 {
            margin-bottom: 24px;
        }
    }


    .middling {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 46.7px;
        padding-top: 48px;
        padding-bottom: 81px;
    }


    .subscription {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 693px;
        background-position: 29%;
        background-size: 343% 100%;

        &.center {
            padding-left: calc(50% - 174.5px);
            padding-right: calc(50% - 174.5px);
        }

        &__invitation {
            padding-bottom: 0;
            margin-bottom: 59px;
        }

        &__approval {
            padding-right: 0;
            padding-bottom: 110px;

            &__email {
                height: 47px;
                width: 216px;
                margin-top: 22px;
            }

            &__button {
                height: 47px;
                width: 75px;
                margin-top: 22px;
            }
        }
    }
    
    
    .footer {
        padding-left: calc(50% - 140px);
        padding-right: calc(50% - 140px);
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;

        &__all_rights {
            padding-bottom: 9px;
        }

        &__socials {
            padding-top: 43px;
            padding-bottom: 0;
            margin-bottom: 40px;
        }
    }
}









.new_arrivals {
    display: flex;
    justify-content: space-between;
    background-color: #F8F3F4;

    &.center {
        padding-left: calc(50% - 558px);
        padding-right: calc(50% - 558px);
    }
    
    &__title{
        color: $mainElementsColor;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__bread_crumbs{
        display: flex;
        gap: 5px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 65px;
        padding-bottom: 65px;  
    }
    
    &__link {
        color: #636363;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;


    }

    &__spec_link {
        color: $mainElementsColor;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        
    }

}
