

//                            arrivals

.new_arrivals {
    display: flex;
    justify-content: space-between;
    background-color: #F8F3F4;

    &.center {
        padding-left: calc(50% - 558px);
        padding-right: calc(50% - 558px);
    }
    
    &__title { 
        color: $mainElementsColor;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__bread_crumbs{
        display: flex;
        gap: 5px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        padding-top: 65px;
        padding-bottom: 65px;  
    }
    
    &__link {
        color: #636363;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;


    }

    &__spec_link {
        color: $mainElementsColor;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        
    }

}



//                        main_content

//            filtering_and_selection


.filtering_and_selection {
    height: 132px;
    display: flex;
    padding-top: 39px;
    box-sizing: border-box;
}

.filter {
    width: 355px;
    position: relative;
    padding-top: 13px;
    box-sizing: border-box;
    z-index: 7;

    &__content {   
        // box-shadow: 6px 4px 35px 0px #00000036;
        background-color: #FFFFFF;
        padding-top: 0;
        padding-left: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
    }

    &[open] {

        box-shadow: 6px 4px 35px 0px #00000036;
        background: #FFFFFF;


        & .filter__head{
            color: $mainElementsColor;
        }

        & path{
            fill: $mainElementsColor;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        gap: 11px;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-left: 16px;
    }

    &__item {
        margin-top: 16px;
    }


    &__bag_head {
        display: flex;
        align-items: center;
        gap: 11px;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-bottom: 1px solid #EBEBEB;
        padding: 8px 11px 11px 11px;
        border-left: 5px solid $mainElementsColor;
    }

    &__item[open] .filter__bag_head{
        color: $mainElementsColor;
    }

    &__link_bag {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }

    &__link {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $mainElementsColor;
        }

    }
}



.offer_details {
    display: flex;
    margin-left: 30px;
    gap: 16px;

    &__choose {
        text-align: left;
        padding-top: 13px;
        padding-bottom: 64px;
        position: relative;
        z-index: 7;
      }

    &__choose_box {
        position: absolute;
        top: 35px;
        left: -9px;
        box-sizing: border-box;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding-left: 9px;
        padding-bottom: 2px;
        padding-top: 9px;
        padding-right: 14px;
    }

    &__lists {
        position: absolute;
        z-index: -1;
        opacity: 0;    
    }

    &__head {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__choose > summary {
        list-style: none;
      }

    &__lists + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        margin-bottom: 9px;
      }
    
    &__lists + label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;  
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }  

    &__lists:checked + label::before {
    border-color: $mainElementsColor;
    background-color: $mainElementsColor;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");  
    }
    
    &__lists:checked + label {
    color: $mainElementsColor; 
    }

        // ползунок
        
    &__slider {
        -webkit-appearance: none;
        width: 100px;
        height: 10px;
        background-color: #F8F3F4;;
        outline: none;
        
    }
    
    &__choose_box.specl {
        padding-bottom: 11px;
    }
    
    &__slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: $mainElementsColor;
        cursor: pointer;
        border-radius: 50%;
      }
      
}



//        product switcher

.product_switch {
    margin-top: 48px;
    margin-bottom: 96px;    
}

.product_switch__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border: 1px solid #EBEBEB;
    width: 285px;
    margin-left: auto;
    margin-right: auto;


    &  input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
    }
    
    &__numbers {
        display: flex;

        gap: 14px;
        color: #C4C4C4;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__line_span {
        display: flex;
        margin-left: 14px;
        margin-right: 14px;
    }

    &__numb_colored:hover + label{
        color: $mainElementsColor;
    }
    
}

